/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

footer{
    background-color: #4A5568;
    
}
footer p{
    color: white;
}
.newsletter{
    background-color: #48BB78;
    
}
.newsletter P{
    color: white;
}
.newsletter .btn{
    background-color: #5A67D8;
}

.stories img{
    
        border-radius: 50%;
}
.stories h3{
    text-size-adjust: 18px;
    
    color: #5A67B8;

}

.stories p a{
    color: #5A67B8;
}

.testing {
    background-color: #4A5568;
}

.testing p{
    color: white;
}

.testing .btn{
    background-color: #48BB78;
    border-radius: 5px;
}

p{
    font: -apple-system, BlinkMacSysemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 18px;
}

header {
    background-color: white;
    
}
header .container{
    margin: 1;
    display: grid;
	grid-gap: 19px;
}
header .container h1{
    grid-column: 1/5;
    display: inline-flex;
    grid-row:1;
    justify-content: start;
    font-size: 18px;
}

header .container nav{ 
    grid-column: 5/5;
    grid-row:1;
    justify-content: flex-end;
    padding:18;
    
}

p {
    font-size: 18px;
}

nav a{ 
    color: #6b7280;


}
nav ul li{
    float: left;
    display: inline;
    margin: 9px;
}
nav ul{
    list-style-type: none;
    font-size: 18px;
    float: inline-end;
    
    justify-content: center;
    display: inline-flex;
}

nav a:hover{
    color: #5A67D8;
}

.overview-hero{
    background-color: #E2E8F0;
}

.learn-about h2{
    text-size-adjust: 24px;
    color: #48BB78;
}

.learn-about{
    border-color: #E2E8F0;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px;
}

.learn-about h3{
    color: #48BB78;
    font-size: 21px;
}
.overview-hero .container{
    margin: 1;
    display: grid;
		grid-gap: 19px;
}
 .overview-hero .container >.overview-hero-image{
    grid-column: 1/5;
    display: flex;
    grid-row:1;
    padding:18;
 }
 .overview-hero .container >.overview-hero-text{
    grid-column: 5/5;
    grid-row:1;
    padding:18;
 }